.custom-steps .step:before {
    width: 130%;
    margin-inline-start: -130%;
    
}

.light .step{
    --step-bg:rgb(112, 112, 112);
}

.dark .step{
    --step-bg:rgb(0, 0, 0);
    --step-fg:white;
}

.floating-label {
  > span {
    background-color: var(--color-gray-200);
  }
}

.dark .floating-label {
  > span {
    background-color: var(--color-base-100);
  }
}

.no-focus:focus-within {
  outline: none !important;
  box-shadow: none !important;
}